/* Diseño de form */

body{
    background-color: #4d288963;
}

.modaleso{
    position: fixed;
    top: 10%;
    left: 33%;
    background: rgba(0,0,0,0.5);
    transition: all 500ms ease;
}

.contenedores{
    max-width: 700px;
    height: 700px;
    margin: auto;
    background: #eeeeee;
    box-shadow: 1px 7px 25px rgba(0,0,0,0.6);
    transition: all 500ms ease;
}

.contenedores header{
    padding: 10px;
    background: #820260;
    color: #eeeeee;
}

.contenedores .redit{
    position: absolute;
    top: 10px;
    right: 10px;
    color: #eeeeee;
    font-size: 15px;
    cursor: pointer;
}

#ver-modal{
    display: none;
}

.photo{
    width: 200px;
}

/* fin de diseño de form */